* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    overflow: hidden;
}

.container {
    background-image: url("pasta.jpg");
    background-size:cover;
    position: absolute;
    top: 0;
    left: 0; 
    right: 0;
    bottom: 0;
    overflow-x: scroll;
  }

  #recipe-wrapper {
      background-color: rgba(255,255,255, .85);
      color: rgb(29, 29, 31);
      border: solid 1px lightgray;
      position: absolute;
      right: 0;
      top: 0;
      width: 400px;
      padding: 36px;
  }

  .header {
      font-size: 2.75rem;
      font-family: 'Rozha One', serif;
  }

  .subheader {
    font-family: 'Rozha One', serif;
    font-size: 2rem;
    margin-top: 36px;
  }

  li {
      font-size: 110%;
      line-height: 120%;
      margin-top: 12px;
      font-family: sans-serif;
      margin-left: 36px;
      font-family: 'Catamaran', sans-serif;
  }


  #source {
      color: black;
      font-style: italic;
      text-align: right;
      margin-top: 52px;
      display: block;
  }
